@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0062be;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 140px;
  padding-top: 10px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: rgb(211, 16, 40);
  transition: 0.3s linear;
}

ul li a:hover::after {
  width: 100%;
}

/* main */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 100px 0 140px;
}

.main-heading {
  font-size: 60px;
  width: 420px;
  text-transform: uppercase;
  line-height: 1.05;
  color: #fff;
  margin-bottom: 10px;
}

.main-heading span {
  font-size: 100px;
}

.main-text {
  width: 580px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

.main-btn {
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px 12px 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

/* main-right */

.main-right {
  display: flex;
  align-items: center;
  gap: 80px;
}

.main-img img {
  width: 266px;
  height: 514px;
}

.main-btn:hover {
  background-color: #0062be;
  color: #fff;
}

.main-img .hidden-2 {
  display: none;
}

.main-img .hidden-3 {
  display: none;
}

.main-links {
  display: grid;
  row-gap: 30px;
}

.main-links i {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-links i:hover {
  color: rgb(211, 16, 40);
}

.footer {
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer img:hover {
  transform: translateY(-10px);
}
