@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0062be;
  height: 100vh;
}


/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 170px 0 140px;
  padding-top: 10px;
}

.navbar .page-logo {
  width: 95px;
  height: 95px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

ul li {
  list-style: none;
  transition: 0.3s linear;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

ul li:hover {
  transform: translateY(-5px);
}

/* main */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 110px 0 140px;
}

.main-heading {
  font-size: 60px;
  width: 420px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}

.main-heading span {
  font-size: 100px;
}

.main-text {
  width: 580px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

.main-btn {
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 25px 12px 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-btn:hover {
  background-color: transparent;
  color: #fff;
}

/* main-right */

.main-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-img img {
  width: 250px;
  height: 494px;
  animation: animation 2s infinite linear;
}

.main-img .hidden {
  display: none;
}

.main-links {
  display: grid;
  row-gap: 30px;
}

.main-links i {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-links i:hover {
  /* color: rgb(230, 12, 45); */
  scale: 1.5;
}

/* footer */

.footer {
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  bottom: 5px;
}

.footer img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer img:hover {
  transform: translateY(-10px);
}

@keyframes animation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
}


/* responsive Armir */

@media(max-width: 1300px){
  .navbar {
    margin: 0 120px 0 90px;
  }
  main {
    margin: 25px 60px 0 90px;
  } 
}