@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0062be;
  height: 100vh;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 170px 0 140px;
  padding-top: 10px;
}

.navbar .page-logo {
  width: 95px;
  height: 95px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

ul li {
  list-style: none;
  transition: 0.3s linear;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

ul li:hover {
  transform: translateY(-5px);
}

.bar{
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

/* main */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 110px 0 140px;
}

.main-heading {
  font-size: 60px;
  width: 420px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}

.main-heading span {
  font-size: 100px;
}

.main-text {
  width: 580px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

.main-btn {
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 25px 12px 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-btn:hover {
  background-color: transparent;
  color: #fff;
}

/* main-right */

.main-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-img img {
  width: 250px;
  height: 494px;
  animation: animation 2s infinite linear;
}

.main-img .hidden {
  display: none;
}

.main-links {
  display: grid;
  row-gap: 30px;
}

.main-links i {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-links i:hover {
  /* color: rgb(230, 12, 45); */
  scale: 1.5;
}

.main-center {
  row-gap: 40px;
  display: none;
}

.main-center img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}
.main-center img:hover {
  transform: translateY(-10px);
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  bottom: 5px;
}

.footer img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer img:hover {
  transform: translateY(-10px);
}

@keyframes animation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
}

/* responsive Armir */

@media (max-width: 1300px) {
  .navbar {
    margin: 0 120px 0 90px;
  }
  main {
    margin: 25px 60px 0 90px;
  }
}

/* responsive Azizbek */

@media screen and (max-width: 1110px) {
  main {
    text-align: center;
    margin-top: 45px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-right {
    display: flex;
    /* gap: 100%; */
  }
  .main-heading {
    width: 100%;
    font-size: 80px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 80px;
  }
  .main-text {
    width: 680px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
  }
  .main-btn {
    margin-bottom: 30px;
  }
  .main-img {
    margin-bottom: 20px;
  }
  .main-center {
    display: grid;
    margin-left: 150px;
  }
  .footer {
    display: none;
  }
}

/* responsive Armir */

@media (max-width: 865px) {
  ul{
    display: none;
  }
  .bar{
    display: flex;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
  }
}

@media (max-width: 750px) {
  main {
    margin: 25px 60px 0 60px;
  }
  .main-heading {
    width: 100%;
    font-size: 75px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 75px;
  }
  .main-text {
    width: 100%;
  }
  .main-center {
    display: grid;
    margin-left: unset;
  }
}