@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #0062be;
  height: 100vh;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 170px 0 140px;
  padding-top: 10px;
}

.navbar .page-logo {
  width: 95px;
  height: 95px;
}

.page-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.page-menu li {
  transition: 0.3s linear;
}

.page-menu li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.page-menu li:hover {
  transform: translateY(-5px);
}

.bar {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
}

/* dropdown */

.dropdown {
  position: absolute;
  top: 95px;
  right: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 300px;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  height: 0;
  transition: 0.2s linear;
  overflow: hidden;
}

.open {
  height: 270px;
}

.dropdown li {
  transition: 0.1s linear;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.dropdown li:hover {
  background: orange;
  text-align: center;
}

.dropdown li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

/* main */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 110px 0 140px;
}

.main-heading {
  font-size: 60px;
  width: 420px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}

.main-heading span {
  font-size: 100px;
}

.main-text {
  width: 580px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 20px;
}

.main-btn {
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 25px 12px 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-btn:hover {
  background-color: transparent;
  color: #fff;
}

/* main-right */

.main-right {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-img img {
  width: 250px;
  height: 494px;
  animation: animation 2s infinite linear;
}

.main-img .hidden {
  display: none;
}

.main-links {
  display: grid;
  row-gap: 30px;
}

.main-links i {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.main-links i:hover {
  /* color: rgb(230, 12, 45); */
  scale: 1.5;
}

.main-center {
  row-gap: 40px;
  display: none;
}

.main-center img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}
.main-center img:hover {
  transform: translateY(-10px);
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  bottom: 5px;
}

.footer img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer img:hover {
  transform: translateY(-10px);
}

@keyframes animation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
}

/* responsive Armir */

@media (max-width: 1300px) {
  .navbar {
    margin: 0 90px 0 90px;
  }
  main {
    margin: 25px 90px 0 90px;
  }
}

/* responsive Azizbek */

@media screen and (max-width: 1110px) {
  main {
    text-align: center;
    margin-top: 45px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-right {
    display: flex;
    /* gap: 100%; */
  }
  .main-heading {
    width: 100%;
    font-size: 80px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 80px;
  }
  .main-text {
    width: 680px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
  }
  .main-btn {
    margin-bottom: 30px;
  }
  .main-img {
    margin-bottom: 20px;
  }
  .main-center {
    display: grid;
    margin-left: 150px;
  }
  .footer {
    display: none;
  }
}

/* responsive Armir */

@media (max-width: 865px) {
  .page-menu {
    display: none;
  }
  .bar {
    display: flex;
    font-size: 35px;
    cursor: pointer;
    color: #fff;
  }
  .open {
    display: block;
    gap: 5px;
    padding: 20px 10px;
  }
}

@media (max-width: 750px) {
  main {
    margin: 25px 60px 0 60px;
  }
  .navbar {
    margin: 0px 60px 0 60px;
  }
  .main-heading {
    width: 100%;
    font-size: 70px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 75px;
  }
  .main-text {
    width: 100%;
  }
  .main-center {
    display: grid;
    margin-left: unset;
  }
  .main-img img {
    width: 245px;
    height: auto;
  }
}

/* responsive Azizbek */

@media screen and (max-width: 560px) {
  main {
    margin: 25px 30px 0 30px;
  }
  .navbar {
    margin: 0 30px 0 30px;
  }
  .main-heading {
    width: 100%;
    font-size: 60px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 65px;
  }
  .main-text {
    width: 100%;
    font-size: 16px;
  }
  .main-center {
    display: none;
  }
  .footer {
    margin-top: 30px;
    display: flex;
  }
}

@media screen and (max-width: 515px) {
  .dropdown {
    left: 15px;
    right: 15px;
    width: unset;
  }
}

@media screen and (max-width: 400px) {
  main {
    margin: 25px 15px 0 15px;
  }
  .navbar {
    margin: 0 15px 0 15px;
  }
  .navbar .page-logo {
    width: 80px;
    height: 80px;
  }
  .main-right {
    gap: 50px;
  }
  .main-heading {
    width: 100%;
    font-size: 40px;
    flex-wrap: wrap;
  }
  .main-heading span {
    font-size: 40px;
  }
  .main-text {
    display: none;
  }
  .main-btn {
    margin-top: 20px;
    font-size: 15px;
    padding: 9px 20px 9px 20px;
  }
  .main-img img {
    width: 195px;
    height: auto;
  }
  .footer img {
    width: 30px;
    height: auto;
  }
}
